:root {
  --red: #DE0618;
  --red-dark: #B50618;
}

html, body {
    font-family: 'Ubuntu', sans-serif;
}

.card{
  border: none;
	border-radius: 2rem;
}

.btn{
	border-radius: .75rem;
}

.form-control{
	background-color: transparent;
	border-radius: .75rem;
}

.form-control:focus{
  	border-color: var(--red);
  	border-width: .1em;
  	box-shadow: none;
}

.btn{
	border-color: transparent;
}

.btn:active,
.btn:hover,
.btn:focus,
.btn:active:focus {
  	border-color: transparent;
  	box-shadow: none;
}

.btn-primary{
  background-color: var(--red);
}

.btn.btn-primary:active,
.btn.btn-primary:hover,
.btn.btn-primary:focus,
.btn.btn-primary:active:focus {
    background-color: var(--red-dark) !important;
    border-color: transparent;
    box-shadow: none;
}

.btn-transparent{
  background-color: transparent;
  color: var(--red);
}

.btn.btn-transparent:active,
.btn.btn-transparent:hover,
.btn.btn-transparent:focus,
.btn.btn-transparent:active:focus {
  color: var(--red-dark) !important;
  border-color: transparent;
  box-shadow: none;
}

.custom-control-label:before{
	 box-shadow: none;
}

.custom-checkbox .custom-control-input:checked~.custom-control-label::before{
  	background-color: var(--red);
  	border-color: transparent;
	 box-shadow: none;
}

a{
  color: var(--red);
}

a:active,
a:hover,
a:focus{
  color: var(--red-dark);
  text-decoration: none;
}

#wrapper {
    overflow-x: hidden;
 }

#sidebar-wrapper {
  min-height: 100vh;
  margin-left: -15rem;
  -webkit-transition: margin .25s ease-out;
  -moz-transition: margin .25s ease-out;
  -o-transition: margin .25s ease-out;
  transition: margin .25s ease-out;
  background-color: var(--red);
}

#sidebar-wrapper .sidebar-heading {
  padding: 0.875rem 1.25rem;
  font-size: 1.2rem;
}

#sidebar-wrapper .list-group {
  width: 15rem;
}

#sidebar-wrapper .list-group .list-group-item {
  background-color: var(--red);
  color: white;
}

#page-content-wrapper {
  min-width: 100vw;
}

#wrapper.toggled #sidebar-wrapper {
  margin-left: 0;
}

.navbar-nav .dropdown-menu{
  position: absolute !important;
  float: none;
  border: none;
  box-shadow: 0px 2px 25px 0px rgba(0,0,0,.1) !important;
  -webkit-box-shadow: 0px 2px 25px 0px rgba(0,0,0,.3) !important;
  -moz-box-shadow: 0px 2px 25px 0px rgba(0,0,0,.3) !important;
}

@media (min-width: 768px) {
  #sidebar-wrapper {
    margin-left: 0;
  }

  #page-content-wrapper {
    min-width: 0;
    width: 100%;
  }

  #wrapper.toggled #sidebar-wrapper {
    margin-left: -15rem;
  }
}
/*.form-group .form-label {
  display: block;
  position: relative;
  max-height: 0;
  font-weight: 500;
  pointer-events: none;
}

.form-group .form-label::before {
  color: black;
  content: attr(data-content);
  display: inline-block;
  filter: blur(0);
  backface-visibility: hidden;
  transform-origin: left top;
  transition: transform 0.2s ease;
  left: 1rem;
  position: relative;

}

.form-group .form-label::after {
  bottom: 1rem;
  content: "";
  height: 0.1rem;
  position: absolute;
  transition: transform 180ms cubic-bezier(0.4, 0, 0.2, 1),
    opacity 180ms cubic-bezier(0.4, 0, 0.2, 1), background-color 0.3s ease;
  opacity: 0;
  left: 0;
  top: 100%;
  margin-top: -0.1rem;
  transform: scale3d(0, 1, 1);
  width: 100%;
}

.form-control:focus + .form-group .form-label::after {
  transform: scale3d(1, 1, 1);
  opacity: 1;
}

.form-control:placeholder-shown + .form-group .form-label::before {
  transform: translate3d(0, -2.2rem, 0) scale3d(1, 1, 1);
}

.form-group .form-label::before,
.form-control:focus + .form-group .form-label::before {
  transform: translate3d(0, -3.12rem, 0) scale3d(0.82, 0.82, 1);
}

.form-control:focus + .form-group .form-label::before {
  color: var(--color__accent);
}*/